<!-- Launches people tracking with rosbag data-->

<launch>
      <!--  Launch people_tracking_rai node -->
      <node pkg="iri_people_tracking_rai"
            type="iri_people_tracking_rai"
            name="iri_people_tracking_rai"
            args=""
            output="screen">
            <remap from="/iri_people_tracking_rai/odometry"
                  to="/base_odometry/odom" />
            <remap from="/iri_people_tracking_rai/legDetections"
                  to="/person/legDetections" />
            <remap from="/iri_people_tracking_rai/bodyDetections"
                  to="/person/hogDetections" />
            <remap from="/iri_people_tracking_rai/faceDetections"
                  to="/person/faceDetections" />                        
            <remap from="/iri_people_tracking_rai/image_in"
                  to="/person/image" />                     
            <remap from="/iri_people_tracking_rai/followMe"
                  to="/followMe/targetId" />                                                          
            <rosparam file="peopleTrackingParams.yaml" command="load" />
      </node>

      <!-- rviz configurated to debug people tracking -->
      <node name="rviz" 
            pkg="rviz" 
            type="rviz"
            args="-d $(find iri_people_tracking_rai)/launch/debugPT.vcg">
            <param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
      </node>

      <!-- image view with marked boundig boxes -->
      <node name="imageBB_view_out"
            pkg="image_view" 
            type="image_view" >
            <param name="window_name" value= "ON-BOARD CAMERA - BOUNDING BOXES" type="str" />
            <remap from="/image"
                  to="/$(env ROBOT)/iri_people_tracking_rai/image_out"/>
      </node>
      
</launch>

