<!-- Launches pipol_tracker_node for REEM robot -->

<launch>

	<node	pkg="pipol_tracker_pkg"
		type="pipol_tracker_node"
		name="pipol_tracker_node"
		args=""
		output="screen">
                  <remap from="/pipol_tracker_node/odometry"
                        to="/mobile_base_controller/odom" />
                  <remap from="/pipol_tracker_node/legDetections"
                        to="/leg_detector/legs" />
                  <remap from="/pipol_tracker_node/bodyDetections"
                        to="/fullbody_2d_detector/detections" />
                  <remap from="/pipol_tracker_node/faceDetections"
                        to="/pal_face/faces" />                   
                  <remap from="/pipol_tracker_node/image_in"
                        to="/head_mount_xtion/rgb/image_rect_color" />                    
                  <remap from="/pipol_tracker_node/cameraInfo_in"
                        to="/head_mount_xtion/rgb/camera_info" />                    
                  <remap from="/pipol_tracker_node/followMe"
                        to="/followMe/targetId" />                                        
                  <rosparam command="load" file="$(find pipol_tracker_pkg)/launch/pipol_tracker_params.yaml"/>
	</node>

	<!-- rviz configurated to debug people tracking -->
	<!-- <node 	name="rviz" 
		pkg="rviz" 
		type="rviz"
		args="-d $(find pipol_tracker_pkg)/rviz/pipol_tracker_viz_2014.rviz">
		<param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
	</node> -->

</launch>

