<!-- Launches people tracking with rosbag data-->

<launch>
	<!-- Rosbag: Leg, Body and face detections + Camera images.-->
	<node	
        pkg="rosbag"
		type="play"
		name="rosbag"
		args="--clock /home/andreu/dataSets/people_tracking/reem/rosbags/20140925_twoPeople.bag"/>	
		<param name="use_sim_time" value="true"/>
<!--        20140703_robotStopped.bag -->
<!--        20140703_robotMoving.bag -->
<!--        20140925_FollowMe.bag -->
<!--        20140925_robotMoving.bag -->
<!--        20140925_robotStopped.bag -->
<!--        20140925_twoPeople.bag -->
<!--        20140926_twoPeople.bag -->

	<!-- 	Launch people_tracking_rai node -->
	<group ns="$(env ROBOT)">
		<node	
            pkg="pipol_tracker"
			type="pipol_tracker_node"
			name="pipol_tracker_node"
			args=""
			output="screen">
			<remap from="/$(env ROBOT)/pipol_tracker_node/odometry"
				to="/mobile_base_controller/odom" />
			<remap from="/$(env ROBOT)/pipol_tracker_node/legDetections"
				to="/leg_detector/legs" />
			<remap from="/$(env ROBOT)/pipol_tracker_node/bodyDetections"
				to="/fullbody_2d_detector/detections" />
            <remap from="/$(env ROBOT)/pipol_tracker_node/faceDetections"
                to="/pal_face/faces" />				
            <remap from="/$(env ROBOT)/pipol_tracker_node/body3dDetections"
                to="/head_mount_xtion/users" />                        
			<remap from="/$(env ROBOT)/pipol_tracker_node/image_in"
				to="/head_mount_xtion/rgb/image_rect_color" />				
            <remap from="/$(env ROBOT)/pipol_tracker_node/cameraInfo_in"
                to="/head_mount_xtion/rgb/camera_info" />                    
            <remap from="/$(env ROBOT)/pipol_tracker_node/followMe"
                to="/followMe/targetId" />                     				
			<rosparam command="load" file="$(find pipol_tracker)/config/pipol_tracker_params.yaml"/>
			<param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
			<param name="use_sim_time" value="true"/>
		</node>
	</group>

	<!-- rviz configurated to debug people tracking -->
	<node 	name="rviz" 
		pkg="rviz" 
		type="rviz"
		args="-d $(find pipol_tracker)/rviz/pipol_tracker_viz_2014.rviz">
		<param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
	</node>

</launch>

