<!-- Launches people tracking with rosbag data-->

<launch>
	<!-- Rosbag: Leg, Body and face detections + Camera images.-->
	<node	pkg="rosbag"
		type="play"
		name="rosbag"
		args="-l --clock /home/andreu/dataSets/peopleTracking/pal_detectors/20130525_02.bag"/>	
<!-- 		20120313_palPeople.bag" -->
<!-- 		20120411_singlePerson.bag -->
<!-- 		20120411_twoPeople.bag -->
<!-- 		20120411_threePeople.bag -->
<!-- 		20120411_robotFollowingPeople.bag -->
<!--        20130410_1.bag -->
<!--        20130525_01.bag -->
<!--        20130525_02.bag -->
<!--        20130525_reem_stop.bag -->
<!--        20130528_person_registration.bag -->
<!--        20130607_person_registration_static_head.bag -->

	<!-- 	Launch people_tracking_rai node -->
	<group ns="$(env ROBOT)">
		<node	pkg="pipol_tracker_pkg"
			type="pipol_tracker_node"
			name="pipol_tracker_node"
			args=""
			output="screen">
			<remap from="/$(env ROBOT)/pipol_tracker_node/odometry"
				to="/base_odometry/odom" />
			<remap from="/$(env ROBOT)/pipol_tracker_node/legDetections"
				to="/person/legDetections" />
			<remap from="/$(env ROBOT)/pipol_tracker_node/bodyDetections"
				to="/person/hogDetections" />
                  <remap from="/$(env ROBOT)/pipol_tracker_node/faceDetections"
                        to="/person/faceDetections" />				
			<remap from="/$(env ROBOT)/pipol_tracker_node/image_in"
				to="/person/image" />				
                  <remap from="/$(env ROBOT)/pipol_tracker_node/cameraInfo_in"
                        to="/person/image/camera_info" />                    				
                  <remap from="/$(env ROBOT)/pipol_tracker_node/followMe"
                        to="/followMe/targetId" />                     				
			<rosparam command="load" file="$(find pipol_tracker_pkg)/launch/pipol_tracker_params.yaml"/>
			<param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
		</node>
	</group>

	<!-- rviz configurated to debug people tracking -->
	<node 	name="rviz" 
		pkg="rviz" 
		type="rviz"
		args="-d $(find pipol_tracker_pkg)/launch/pipol_tracker_viz_2013.rviz">
		<param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
	</node>

      <!-- 	Visualization of image bounding boxes -->
<!--	<node	name="imageBB_view_out"
		pkg="image_view" 
		type="image_view" >
		<param name="window_name" value= "ON-BOARD CAMERA - BOUNDING BOXES" type="str" />
		<remap from="/image"
			to="/$(env ROBOT)/pipol_tracker_node/image_out"/>
	</node>-->
	
</launch>

