<!-- Launches people tracking with rosbag data-->

<launch>
	<!-- Rosbag: Leg, Body and face detections + Camera images.-->
	<node	pkg="rosbag"
		type="play"
		name="rosbag"
		args="-l --clock /home/andreu/dataSets/peopleTracking/pal_detectors/20140607_robotStopped.bag"/>	
<!--        20140422_robotMoving.bag -->
<!--        20140422_robotStopped.bag -->
<!--        20140604_robotMoving.bag -->
<!--        20140604_robotStopped.bag -->
<!--        20140607_robotMoving.bag -->
<!--        20140607_robotStopped.bag -->

	<!-- 	Launch people_tracking_rai node -->
	<group ns="$(env ROBOT)">
		<node	pkg="pipol_tracker_pkg"
			type="pipol_tracker_node"
			name="pipol_tracker_node"
			args=""
			output="screen">
			<remap from="/$(env ROBOT)/pipol_tracker_node/odometry"
				to="/mobile_base_controller/odom" />
			<remap from="/$(env ROBOT)/pipol_tracker_node/legDetections"
				to="/leg_detector/legs" />
			<remap from="/$(env ROBOT)/pipol_tracker_node/bodyDetections"
				to="/fullbody_2d_detector/detections" />
                  <remap from="/$(env ROBOT)/pipol_tracker_node/faceDetections"
                        to="/pal_face/faces" />				
			<remap from="/$(env ROBOT)/pipol_tracker_node/image_in"
				to="/head_mount_xtion/rgb/image_rect_color" />				
                  <remap from="/$(env ROBOT)/pipol_tracker_node/cameraInfo_in"
                        to="/head_mount_xtion/rgb/camera_info" />                    
                  <remap from="/$(env ROBOT)/pipol_tracker_node/followMe"
                        to="/followMe/targetId" />                     				
			<rosparam command="load" file="$(find pipol_tracker_pkg)/launch/pipol_tracker_params.yaml"/>
			<param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
		</node>
	</group>

	<!-- rviz configurated to debug people tracking -->
	<node 	name="rviz" 
		pkg="rviz" 
		type="rviz"
		args="-d $(find pipol_tracker_pkg)/rviz/pipol_tracker_viz_2014.rviz">
		<param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
	</node>

      <!-- 	Visualization of image bounding boxes -->
<!--	<node	name="imageBB_view_out"
		pkg="image_view" 
		type="image_view" >
		<param name="window_name" value= "ON-BOARD CAMERA - BOUNDING BOXES" type="str" />
		<remap from="/image"
			to="/$(env ROBOT)/pipol_tracker_node/image_out"/>
	</node>-->
	
</launch>

